@{
    ViewBag.Title = "About";
}





<br />
<br />

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <img src="~/Images/about1.jpg" alt="GirlImage" style="width:500px;height:300px;" />
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <h1 style="text-align:center;color:#04508c;">Our Vision & Mission</h1>
            <p style="font-size:16px; text-align:center">
                &nbsp;&nbsp;&nbsp; Our goal at GoSecure Financial is to provide access to home
                loan,<br /> personal loans, car loan, at insight competitive interest rate on timely.
            </p>
        </div>
    </div>
    <br />
    <br />
</div>
<hr />
<div class="container">
    <div class="row">
        <div class=" col-md-6">
            <h1 style="text-align:center;color:#04508c">Who We Are</h1>
            <p style="font-size:16px; text-align:center">

                Santander UK is one of the UK's leading personal financial services companies
                and one of the largest providers of mortgages and savings in the Uk.
                The bank has circa 20,000 employees,14 million active customers, with almost 1,010 branches
                and 50 corporate business centers.The bank, with its head office in the london
                borough of camden was established on 11 January 2010 when Abbey National plc was combined with
                the saving business and branches of Bradford & Bingley plc, and renamed Santander UK plc.

            </p>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-5">
            <img src="~/Images/about_What_we_are.jpg" alt="GirlImage" style="width:500px;height:300px;" />
        </div>

    </div>

</div>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/about_news_feed.png" alt="GirlImage" style="width:500px;height:300px;" />
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <h1 style="text-align:center; color:#04508c">News Room</h1>
            <p style="font-size:16px; text-align:center">

                Catch up with  Santander's latest business and social initiatives, <br />
                as well as innovative product launches.
            </p>



        </div>

    </div>


</div>
<hr />











@*@{
        ViewBag.Title = "About";
    }

    <h1 style="text-align:center; color:red">Who We Are</h1>
    <h4 style="text-align:center">
        &nbsp; &nbsp; &nbsp; &nbsp;Santander UK is one of the UK's leading personal financial services companies
        and one of the largest providers of mortgages and savings <br /> &nbsp;&nbsp; &nbsp; in the Uk.
        The bank has circa 20,000 employees,14 million active customers, with almost 1,010 branches
        and 50 corporate business centers.<br />  &nbsp;&nbsp;&nbsp;The bank, with its head office in the london
        borough of camden was established on 11 January 2010 when Abbey National plc was combined with
        <br />the saving business and branches of Bradford & Bingley plc, and renamed Santander UK plc.
    </h4>*@

