
@{
    ViewBag.Title = "Enquiry";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@*<h2>Enquiry</h2>*@

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
    ul {
        list-style: none;
    }

        ul li::before {
            content: " \f105";
            color: #04508c;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
</style>

<div class="container">
    <h2></h2>


    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    Applying for a Mortgage
                </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        <h5>Your address history </h5>
                        We need to know your address details for the last three years.
                        <br />
                        <br />
                        <h5>  Your income</h5>
                        For proof of your income, we need to see your last three months' payslips (or four weeks if you're paid weekly). You can also submit a P60 as proof of an annual bonus or a recent HMRC letter to include any child benefit.
                        <br />
                        If you're self-employed, you can use either a SA302 with a Tax Year Overview covering the last three years, an accountant’s certificate or your last three years’ accounts.
                        <br />
                        If you want to use other income to support your application there may be other documents you need, for example your P60.
                        <br />
                        <br />
                        <h5>Your outgoings </h5>

                        We'll want to see your last three months' bank statements to show your outgoings, such as food and household bills.
                        <br />
                        We also need to see details of any outstanding financial commitments, such as loans or credit cards. Plus details of insurance policies e.g. home insurance, mortgage payment protection, life or critical illness cover, and any investment/endowment details you wish to use to support your mortgage.
                        <br />
                        If you're making an application in a branch, please also bring your driver's licence or passport.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    Apply for a loan
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">

                    <p>
                        Before you apply for a loan, take a moment to look through the Personal Loans Key Facts Document (pdf) to get an idea of loan purposes we're unable to lend for.
                        <br />
                        Once you're happy the purpose of your loan is suitable, you can apply online with the following details.
                        <br />
                        <br />

                        <h5>Your address history </h5>
                        We need to know your address and property details for the last three years.
                        <br />
                        <br />
                        <h5>Your employer's details</h5>
                        The name, address and phone number of your employer.
                        <br />
                        <br />
                        <h5>Your bank or building society details</h5>
                        Your account number and sort code of the account where the loan repayments will be taken by Direct Debit.
                        <br />
                        Please note that when you apply for a personal loan we will conduct a credit check.

                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    How do I get a mortgage?
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        <h5>Follow these steps to apply for a mortgage or remortgage with us</h5>
                        <h5>Step 1: </h5> Choosing your mortgage
                        You can easily compare Santander mortgages by using our mortgage calculator. The calculator will show you the rates you could get and what it could cost.
                        <br />
                        <br />
                        <h5>Step 2: </h5> Getting a decision in principle
                        If you're buying a home it's a good idea to get a decision in principle before making an offer.
                        <br />
                        A decision in principle, sometimes called an agreement in principle, confirms if we could lend you the amount you need.
                        <br />
                        You'll need to get an online decision in principle before you can apply for a mortgage online. It's free and valid for 60 days. We do a soft credit check on you, which doesn't affect your credit rating. There's no obligation to then apply for a mortgage with us.

                    <p style="font-size:20px;color:#04508c">
                        What you need to get started 
                        <ul>
                            <li>
                                type of property and how much you want to borrow
                            </li>

                            <li>
                                personal information including your address history for the last 3 years
                            </li>

                            <li>
                                details of your income and outgoings such as food and household bills
                            </li>

                            <li>
                                details of any financial commitments such as credit cards or loans.
                            </li>

                            <li>
                                Before you start, see how much you could borrow, compare our rates and make sure you've read a straightforward guide to your mortgage (pdf)

                            </li>


                        </ul>


                        <h5> Apply for an online decision in principle</h5>

                        <h5>Step 3: </h5> Applying for your mortgage
                        If you've had an offer accepted on a home or you're ready to remortgage to us, you can now apply for a mortgage.
                        <br />
                        You can apply for your mortgage either online, on the phone or in a branch.
                        <br />
                        If you want to apply online you'll need to have an online decision in principle before you can apply. Use our online application form
                        <br />
                        To make an appointment for a branch application please call 0800 068 6064 or use our online appointment booker
                        <br />
                        To apply over the phone simply call 0800 068 6064
                        <br />
                        Phone lines are open 9am to 7pm Monday to Friday and 9am to 2pm Saturdays.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>