
@{
    ViewBag.Title = "UnRegisteredLogin";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<head>
    <style>
        footer {
            left: 0;
            bottom: 0;
            width: 100%;
            position: fixed;
            background-color: #16191e;
            color: white;
            padding: 7px;
            height:10%;
        }
    </style>
</head>

@using (Html.BeginForm())
{
<body>
    <div>
        <img src="~/Images/homeloan.jpg" style="width:100%;height:100%;" alt="CustomePageImage" />
    </div>
</body>
}
